{% extends "user_info/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block extra_head %}
<link rel = "stylesheet" href = "{% static "user_info/login.css" %}">{% endblock extra_head %}
{% block content %}
<div class = "login-form"><h2>Login</h2>
<form action = "{% url "login" %}" method = post  class = "login-form">
{% csrf_token %}
 <input type="text" name="username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
<button class = "login-button">Login</button>
 <p class="login-account">Forgot Password? <a href="{% url "update_password" %}">Reset Here</a></p>
 <p class="login-account">Don't have an account? <a href="{% url "register" %}">Register Here!</a></p>
</form>
{% for message in messages %}
  <p>{{ message }}</p>  
{% endfor %}</div>
{% endblock content %} 