{% extends "user_info/base.html" %}
{% load static %}
{% block title %}reset password {% endblock title %}
{% block extra_head %}
<link rel = "stylesheet" href = "{% static "user_info/reset_password.css" %}">
{% endblock extra_head %}
{% block content %}
<form class = "form-reset" method = "POST">
        {% csrf_token %}
        {{form.as_p}}

        
        <button type="submit" class = "reset-password-btn">Reset Password</button>
    </form>
    {% if messages %}
    {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock content %}