{% extends "user_info/base.html" %}
{% load static %}
{% block title %}Forgot Password |Reset {% endblock title %}

{% block extra_head %}
<link rel = "stylesheet" href = "{% static "user_info/password.css" %}">
{% endblock extra_head %}
{% block content %}
<h1 class = "reset-heading">Reset Your Password<h1>
    <form class = "reset-email" method = "POST" action = "{% url "update_password" %}" >
        {% csrf_token %}
        <label for="email">Enter Registered gmail</label>
    <input type="text" class="email" id="email" name="email" placeholder = "eg:abc@gmail.com">
    <button class = "reset-password-btn">Reset Password</button>
    </form>
    

    
    {% for message in messages %}
    <p class = "message">{{message}}</p>{% endfor %}
    <script src="{% static 'user_info/password.js' %}"></script>
{% endblock content %}